body {
	background: #ccc;
}

.wrapper {
	width: 900px;
	height: 600px;
	margin: 0 auto;
	padding: 50px 0 10px;
}

#canvas {
	width: 100%;
	height: 100%;
	background: #fff;
}

h2 {
	text-align: center;
}

.btn-wrapper {
	text-align: center;
}

#clear,
#draw {
	cursor: pointer;
	border-radius: 10px;
	font-size: 1.4rem;
	color: #fff;
	border: none;
	background: red;
	padding: 12px 34px;
}

#draw {
	background: green;
}

#area {
	margin-right: .5rem;
}